@charset "UTF-8";
/*
sass/
|
|– abstracts/ (or utilities/)
|   |– _variables.scss    // Sass Variables
|   |– _functions.scss    // Sass Functions
|   |– _mixins.scss       // Sass Mixins
|
|– base/
|   |– _reset.scss        // Reset/normalize
|   |– _typography.scss   // Typography rules
|
|– components/ (or modules/)
|   |– _buttons.scss      // Buttons
|   |– _carousel.scss     // Carousel
|   |– _slider.scss       // Slider
|
|– layout/
|   |– _navigation.scss   // Navigation
|   |– _grid.scss         // Grid system
|   |– _header.scss       // Header
|   |– _footer.scss       // Footer
|   |– _sidebar.scss      // Sidebar
|   |– _forms.scss        // Forms
|
|– pages/
|   |– _home.scss         // Home specific styles
|   |– _about.scss        // About specific styles
|   |– _contact.scss      // Contact specific styles
|
|– themes/
|   |– _theme.scss        // Default theme
|   |– _admin.scss        // Admin theme
|
|– vendors/
|   |– _bootstrap.scss    // Bootstrap
|   |– _jquery-ui.scss    // jQuery UI
|
`– main.scss    

*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #534f4f;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

.heading-primary {
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  text-transform: uppercase; }
  .heading-primary--title {
    display: block;
    font-size: 6rem;
    font-family: inherit;
    letter-spacing: 0.2rem; }
  .heading-primary--desc {
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1.5rem; }

.heading-secondary {
  padding-bottom: 2rem;
  padding-top: 2rem;
  line-height: 6rem;
  transition: all .2s;
  text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  text-align: center; }
  .heading-secondary__inline {
    display: inline-block; }

.marked {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: rgba(171, 145, 219, 0.5);
  width: 100%; }
  .marked--wht {
    color: #f8f8ff;
    text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.2); }
  .marked--blk {
    color: #534f4f;
    text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.2); }

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: rgba(171, 145, 219, 0.8);
  width: 100%; }

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-weight: 500;
  transition: all .2s; }

.paragraph-bg {
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 2rem;
  padding-top: 2rem; }

.paragraph-sm {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

li {
  margin-bottom: 10px; }

.u-center-text {
  text-align: center; }

.u-justify-text {
  text-align: justify; }

.u-list-no-style {
  list-style: none; }

.u-section-padding {
  padding: 4rem 4rem 10rem 4rem; }

.u-center {
  margin: auto;
  width: 80%;
  padding: 10px; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 4rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #ab91db;
  color: white; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn--grad {
  background-color: rgba(171, 145, 219, 0.8);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  color: white; }
  .btn--grad::after {
    background-color: rgba(171, 145, 219, 0.6); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #abc1e7;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #abc1e7;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #ab91db;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  background-color: transparent;
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 32rem;
  margin-bottom: 5rem; }
  .card__side {
    font-size: 1.6rem;
    height: 32rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: rgba(171, 145, 219, 0.6);
      color: #f8f8ff; }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: rgba(248, 248, 255, 0.8);
      color: #534f4f; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__heading {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #f8f8ff;
    background-image: linear-gradient(to bottom, rgba(171, 193, 231, 0.5), rgba(171, 145, 219, 0.5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 500;
    margin-top: 0rem !important;
    line-height: 2.2rem;
    padding-bottom: 3rem;
    padding-top: 3rem; }
  .card__heading-span {
    padding: 0.5rem; }
  .card__list {
    min-height: 13rem !important;
    max-height: 13rem; }
  .card__details {
    padding: 4rem 4rem 6rem 4rem;
    font-size: 2rem;
    line-height: 3rem; }
    .card__details ul {
      position: relative;
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      text-align: center;
      font-size: 1.3rem;
      padding: 0.2rem; }
      .card__details li:not(:last-child) {
        border-bottom: 0.2rem solid rgba(171, 145, 219, 0.2); }
  .card__description {
    font-size: 1.6rem;
    margin-bottom: 1.5rem; }
  .card__button {
    text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .card {
      height: auto;
      min-height: 30rem;
      background-color: #f8f8ff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
      margin: auto;
      margin-bottom: 4rem;
      width: 100%; }
      .card__side {
        height: auto;
        min-height: 30rem;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0); }
      .card:hover .card__side--front {
        transform: rotateY(0); } }

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.3); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: inline-block;
    overflow: hidden;
    opacity: 0;
    width: 60%;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .5s .2s;
    padding: 2rem;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    /* Black w/ opacity */ }
  .popup__left {
    display: block; }
  .popup__right {
    display: block;
    font-size: 1.6rem;
    text-align: justify;
    color: #f8f8ff; }
    .popup__right--heading {
      padding-bottom: 1rem !important;
      font-weight: 600 !important; }
    .popup__right--tech {
      list-style: none;
      display: inline; }
  .popup__text {
    margin: auto;
    max-width: 60rem; }
  .popup__img {
    display: block;
    max-width: 90%;
    max-height: 40rem;
    margin: auto;
    overflow-y: scroll; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #f8f8ff;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #ab91db; }

.skill {
  background-color: rgba(248, 248, 255, 0.99);
  font-size: 1.6rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  transition: transform .3s;
  min-width: 20rem;
  max-width: 60%;
  margin: auto;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .skill {
      width: 50%; } }
  .skill__title {
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 500; }
    .skill__title--span {
      line-height: 0em;
      padding-bottom: 0.5em;
      display: inline-block;
      background-color: rgba(171, 145, 219, 0.4); }
  .skill__picture {
    background-size: cover;
    background-position: center center;
    height: 12rem;
    background-blend-mode: screen;
    background-image: linear-gradient(to right bottom, #abc1e7, #ab91db); }
  .skill__icon {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    color: #534f4f;
    background: linear-gradient(to bottom, #abc1e7 20%, #ab91db 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .skill__list {
    padding: 1rem 3rem;
    color: #534f4f; }
    .skill__list ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .skill__list li {
      text-align: center;
      font-size: 1.6rem;
      padding: 0.5rem;
      padding-bottom: 0.5rem; }
      .skill__list li:not(:last-child) {
        border-bottom: 0.2rem solid rgba(171, 145, 219, 0.2); }
        @media only screen and (max-width: 56.25em) {
          .skill__list li:not(:last-child) {
            border-bottom: 0.2rem solid rgba(171, 145, 219, 0.2); } }
  .skill:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.footer {
  background-image: -webkit-linear-gradient(to left, rgba(171, 193, 231, 0.79), rgba(171, 145, 219, 0.92));
  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, rgba(171, 193, 231, 0.79), rgba(171, 145, 219, 0.92));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.6rem;
  color: #f8f8ff; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 4rem 0; } }
  .footer__social {
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__social {
        margin-bottom: 2rem; } }
    .footer__social--btn {
      padding: 0 1rem 0 1rem;
      color: #f8f8ff;
      transition: all .2s;
      font-size: 2rem; }
      .footer__social--btn:hover, .footer__social--btn:active {
        transform: scale(1.4) !important; }
  .footer__logo-box {
    text-align: center;
    display: block;
    padding-bottom: 2rem; }
  .footer__logo {
    width: 8rem;
    height: auto;
    transition: all .2s; }
    .footer__logo:hover, .footer__logo:active {
      transform: scale(1.2); }
  .footer__navigation {
    padding-top: 2rem;
    text-align: center;
    display: inline; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center;
        border-top: transparent; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f8f8ff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #F2F2F2 0%);
    background-size: 225%;
    z-index: 5000; }
  .footer__link:hover, .footer__link:active {
    color: rgba(171, 145, 219, 0.92);
    background-position: -80%; }
  .footer__copyright {
    display: block;
    text-align: center; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to bottom, rgba(41, 34, 48, 0.62), rgba(41, 34, 48, 0.19)), url("../img/hero/hero3.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: top; }
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem; }
  .header__logo {
    height: 8rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
    width: 100%;
    text-shadow: 4rem 4rem 4rem rgba(0, 0, 0, 0.8); }
  .header__desc-box {
    background-image: -webkit-linear-gradient(to bottom, rgba(171, 193, 231, 0.4), rgba(171, 145, 219, 0.9));
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to bottom, rgba(171, 193, 231, 0.4), rgba(171, 145, 219, 0.8));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    height: 20rem;
    width: 60%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: all .8s ease;
    border: .4rem solid white;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 56.25em) {
      .header__desc-box {
        width: 95%; } }
  .header__buttons {
    padding: 2rem 2rem 2rem 2rem;
    position: relative;
    bottom: -70%;
    background-color: transparent; }
  .header__arrow {
    position: absolute;
    left: 50%;
    bottom: 0rem;
    color: #fff;
    display: inline-block;
    width: 2rem;
    margin-left: -12px;
    font-size: 3rem;
    line-height: 2rem;
    z-index: 999;
    -webkit-animation: bounce 3000ms infinite;
    animation: bounce 3000ms infinite; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#abc1e7, #ab91db);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 225%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: -80%;
  color: #ab91db;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.links {
  text-align: center;
  height: 0;
  width: 0;
  bottom: 0rem;
  right: 0rem;
  text-decoration: none;
  font-size: 2rem;
  color: #ab91db !important;
  transition: all 0.2s; }
  .links:hover {
    color: #534f4f !important; }
  .links__buttons--btn1 {
    position: fixed;
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
    bottom: .5rem;
    right: 4rem;
    z-index: 2000; }
  .links__buttons--btn2 {
    position: fixed;
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
    bottom: .5rem;
    right: 8rem;
    z-index: 2000; }
  .links__buttons--btn3 {
    position: fixed;
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
    bottom: .5rem;
    right: 12rem;
    z-index: 2000; }
  .links__buttons--btn4 {
    position: fixed;
    display: inline-block;
    height: 2.4rem;
    width: 2.4rem;
    bottom: .5rem;
    right: 16rem;
    color: #ab91db;
    z-index: 2000; }

.section-about {
  background-image: linear-gradient(to bottom, rgba(41, 34, 48, 0.62), rgba(41, 34, 48, 0.19)), url("../img/hero/hero6.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: top;
  box-sizing: border-box; }

.about {
  line-height: 3rem;
  text-align: center; }
  .about__photo {
    width: 70%;
    height: 70%; }
  .about__left {
    min-width: 20rem;
    max-width: 60rem;
    background: rgba(171, 145, 219, 0.8);
    padding-left: 2rem;
    padding-bottom: 2rem; }
    .about__left--card {
      background: #f8f8ff;
      padding: 2rem; }

.section-subheader {
  background: #f8f8ff;
  font-size: 1.6rem;
  padding-top: 10rem;
  padding-bottom: 10rem; }

.subheader__block {
  padding: 2.5rem;
  transition: transform .3s; }
  .subheader__block--icon {
    display: block;
    font-size: 500%;
    padding: 1rem;
    background: linear-gradient(to bottom, #abc1e7 20%, #ab91db 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .subheader__block--caption {
    display: block;
    font-weight: 600;
    font-size: 100%;
    margin-bottom: 1rem; }
  .subheader__block:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.section-skills {
  background-image: linear-gradient(to bottom, rgba(41, 34, 48, 0.62), rgba(41, 34, 48, 0.19)), url("../img/hero/hero6.jpg");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: top; }

.section-resume {
  background-color: #f8f8ff; }

.resume {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #534f4f; }
  .resume__download {
    text-decoration: none; }
  .resume__items:not(:last-child) {
    border-bottom: 0.2rem solid rgba(171, 145, 219, 0.2);
    margin-bottom: 4rem;
    padding-bottom: 2rem; }
  .resume__items--institution, .resume__items--role {
    font-weight: 400; }
  .resume__items--institution, .resume__items--role, .resume__items--location, .resume__items--company {
    text-align: center; }
  .resume__items--year {
    text-transform: uppercase;
    text-align: center; }
  .resume__items--duration, .resume__items--degree {
    text-align: center; }

.section-portfolio {
  background-color: #f8f8ff; }

.portfolio {
  font-size: 2rem;
  line-height: 2rem;
  margin: auto; }
  .portfolio__card {
    background-color: rgba(171, 145, 219, 0.1) !important;
    color: #534f4f;
    padding: 2rem; }
  .portfolio__pic {
    height: 80%;
    width: 100%; }
  .portfolio__tech {
    font-size: 1.5rem; }
