
.animated {
    animation-duration: 1s;
    animation-fill-mode: both; 
}
.hide {
   display:none;
}
@keyframes fadeOut {
    from {
      opacity: 1; }
    to {
      opacity: 0; } }
  
  .fadeIn {
    animation-name: fadeIn; }
  
  .fadeOut {
    animation-name: fadeOut; 
}
  
  @keyframes slideInLeft {
    from {
      transform: translate3d(-150%, -50%, 0);
      visibility: visible; 
    }
    to {
      transform: translate3d(-50%, -50%, 0); } 
    }
  
  @keyframes slideOutLeft {
        from {
        transform: translate3d(-50%, -50%, 0); 
        }
        to {
        visibility: hidden;
        transform: translate3d(-150%, -50%, 0); 
        } 
    }
  
  .slideOutLeft {
    animation-name: slideOutLeft; }
  
  .slideInLeft {
    animation-name: slideInLeft; }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0); }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0); } }
  
  .fadeInUp {
    animation-name: fadeInUp; }
  
  @keyframes fadeOutUp {
    from {
      opacity: 1; }
    to {
      opacity: 0;
      transform: translate3d(0, -100%, 0); } }
  
  .fadeOutUp {
    animation-name: fadeOutUp; }
  
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both; }
  
  @keyframes flipInX {
    from {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      animation-timing-function: ease-in;
      opacity: 0; }
    40% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      animation-timing-function: ease-in; }
    60% {
      transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
      opacity: 1; }
    80% {
      transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
    to {
      transform: perspective(400px); } }
  
  .flipInX {
    backface-visibility: visible !important;
    animation-name: flipInX; }
  
  @keyframes flipOutX {
    from {
      transform: perspective(400px); }
    30% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      opacity: 1; }
    to {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      opacity: 0; } }
  
  @keyframes flipOutX {
    from {
      transform: perspective(400px); }
    30% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      opacity: 1; }
    to {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      opacity: 0; } }
  
  .flipOutX {
    animation-duration: 0.75s;
    animation-name: flipOutX;
    backface-visibility: visible !important; 
}
@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .pulse {
    animation-name: pulse;
    animation-timing-function: ease-in-out;
  }

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
  
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      transform: translateY(-30px);
    }
  
    60% {
      -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      transform: translateY(-15px);
    }
}
  
.bounce {
-webkit-animation-name: bounce;
animation-name: bounce;
}
