.footer {
    background-image: -webkit-linear-gradient(to left,rgba($color-grad-1, 0.79), rgba($color-grad-2, 0.92));  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to left,rgba($color-grad-1, 0.79), rgba($color-grad-2, 0.92)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 1.6rem;
    color:$background-color-white;
    @include respond(tab-port) {
        padding: 4rem 0;
    }

    &__social {
        text-align: center;
        margin-bottom: 2rem;
        padding:2rem;
        
        @include respond(tab-port) {
            margin-bottom: 2rem;
        }
        &--btn {
            padding: 0 1rem 0 1rem;
            color:$background-color-white;
            transition: all .2s;
            font-size: 2rem;
            &:hover,&:active {
                transform: scale(1.4) !important;
            }
        }
    }
    &__logo-box {
        text-align: center;
        display: block;
       
    }

    &__logo {
        width: 8rem;
        height: auto;
        transition: all .2s;
        &:hover,
        &:active {
            transform: scale(1.2);              
        }
    }

    &__navigation {
        padding-top: 2rem;
        display: inline-block;
        @include respond(tab-port) {
            width: 100%;
            text-align: center;
            border-top: transparent;
        }
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-txt-2;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #F2F2F2 0%);
            background-size: 225%;
            z-index: 5000;
        }

        &:hover,
        &:active {
            color: rgba($color-txt-1, 0.92);
            background-position: -80%;              
        }
    }

    &__copyright {
        padding-top: 2rem;
        float: right;
        padding: 1rem 1rem 0rem 1rem;

    }
}