.header {
    position: relative;
    height: 65vh;
    background-image: -webkit-linear-gradient(to bottom,rgba($color-grad-1, 0.2), rgba($color-grad-2, .2),url($image-1));  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to bottom,rgba($color-grad-1, 0.2), rgba($color-grad-2, 0.2)),url($image-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: top;
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;

        &--picture {
            height: 8rem;
            transition: all .2s;

            &:hover,&:active {
                transform: scale(1.2);
            }
        }
        
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $color-txt-2;
        font-size: 5rem;
        z-index: 2;
        text-align: center;
    }

    &__desc-box {
        background-image: -webkit-linear-gradient(to bottom,rgba($color-grad-1, 0.6), rgba($color-grad-2, .6));  /* Chrome 10-25, Safari 5.1-6 */
        background-image: linear-gradient(to bottom,rgba($color-grad-1, 0.6), rgba($color-grad-2, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        position: absolute;
        height: 20rem;
        width: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        transition: all .8s ease;
        border: .4rem solid white;
        box-shadow: 0 2rem 4rem rgba(black, .2);
        @include respond(tab-port) {
           width: 95%;
        }
    }

    &__btn {
        margin: 1rem;
        text-align:center;
    }

}
