.header {
    position: relative;
    height: 100vh;
    background-image: -webkit-linear-gradient(to left,rgba($color-grad-1, 0.79), rgba($color-grad-2, 0.92),url($image-1));  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to left,rgba($color-grad-1, 0.79), rgba($color-grad-2, 0.92)),url($image-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: top;
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;

        &--picture {
            height: 6rem;
            transition: all .2s;

            &:hover,&:active {
                transform: scale(1.4);
            }
        }

        
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $color-txt-1;
        z-index: 2;
    }

    &__desc-box {
        background-color: rgba($color-overlay-1, 0.4);
        position: absolute;
        height: 30vh;
        width: 100.2%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        transition: all .8s ease;
        border: .4rem solid white;
        box-shadow: 0 2rem 4rem rgba(black, .2);

        @include respond(tab-port) {
            height: 20vh;

        }
    

    }
}
