.links {
    text-align: center;
    height: 0;
    width: 0;
    bottom: 0rem;
    right: 0rem;
    text-decoration: none;
    color: $color-grad-2 !important;
    transition: all 0.2s;
    &:hover{
        color: $color-txt-1 !important;
    }
    &__buttons {
        font-size: 200%;
        &--btn1 {
            position: fixed;
            display: inline-block;
            right: 5rem;
            bottom: -1.5rem;
            height: 5rem;
            width: 3rem;
            z-index: 2000;
        }
        &--btn2 {
            position: fixed;
            display: inline-block;
            right: 10rem;
            bottom: -1.5rem;
            height: 5rem;
            width: 3rem;
            z-index: 2000;
        }
        &--btn3 {
            position: fixed;
            display: inline-block;
            right: 15rem;
            bottom: -1.5rem;
            z-index: 2000;
            height: 5rem;
            width: 3rem;
        }
    }
}
