
.arrow-down {
    cursor: pointer;
    height: 8rem;
    left: 49%;
    position: absolute;
    bottom: $down-arrow-bottom-space;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    width: 4rem;
    animation: animated-arrow .8s steps(10,end) infinite;

    &--left,
    &--right {
      background-color: $color-txt-2;
      height: .4rem;
      left: -.5rem;
      position: absolute;
      top: 50%;
      width: 100%;
      &:after {
        background-color: $color-txt-1;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition: all $transition-time;
      }
    }
    
    &--left {
      transform: rotate(135deg) translatex(10%);
      transform-origin: top right;
      
      &:after {
        left: 100%;
        right: 0;
        transition-delay: 0s;
      }
    }
    
    &--right {
      transform: rotate(45deg);
      transform-origin: top right;
      
      &:after {
        left: 0;
        right: 100%;
        transition-delay: $transition-time;
      }
    }
    
    &:hover & {
      
      &--left:after {
        left: 0;
        transition-delay: $transition-time;
        border-radius: 10rem;

      }
  
      &--right:after {
        right: 0;
        transition-delay: 0s;
        
      }
    }
    
    &:active {
      transform: translateX(-50%) translateY(-50%) scale(0.9);
    }
  }