.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $font-size-default;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-txt-1,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-txt-1,.2);
    }
    
    &--white {
        background-color: $color-txt-2;
        color: $color-txt-1;

        &::after {
            background-color: $color-txt-2;
        }
    }

    &--grad {
        background-color: $color-grad-2;
        color: $color-txt-2;

        &::after {
            background-color: $color-grad-2;
        }
    }
}

.btn-text {
    font-size: $font-size-default;
    transition: all .2s;
    background-image: linear-gradient(90deg, transparent 0%, transparent 50%, $color-grad-2 0%);
    background-size: 220%;
    color: $color-grad-2;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding:1rem;
    &:hover,&:active {
        background-color:$color-grad-2;
        color: white;
        background-position: -90%;             
    }

}