.card {
    background-color: transparent;
    perspective: 150rem;
    -moz-perspective: 150rem;
    -webkit-perspective: 150rem;
    position: relative;
    height: 32rem;    
    margin-bottom: 5rem;
    
    &__side {
        font-size: 1.6rem;
        height: 32rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(black, .2);
        
        &--front {
            background-color: rgba($color-grad-2, 0.5);
            color: $color-txt-2; 
        }
        &--back {
            transform: rotateY(180deg);
            background-color: rgba($background-color-white, 0.9);
            color: $color-txt-1; 

        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    &__heading {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        color:  $color-txt-2;        
       
        font-weight: 500;
        margin-top: 0rem !important;
        line-height: 2.2rem;
        padding-bottom: 3rem;
        padding-top: 3rem;

    }

    &__heading-span {
        padding: 0.5rem;
        background-image: linear-gradient(to bottom,rgba($color-grad-1, 0.5), rgba($color-grad-2, 0.5)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
   
    &__list {
        min-height: 13rem !important;
        max-height: 13rem;
    }

    &__details {
        padding:4rem 4rem 6rem 4rem;       
       
        ul {
            position:relative;
            list-style: none;
            width: 80%;
            margin: 0 auto;
        }
        li {
            text-align: center;
            font-size: 1.3rem;
            padding: 0.2rem;
            &:not(:last-child) {
                border-bottom: 0.2rem solid rgba($color-grad-2,0.2);
            }

        }
    }


    &__description {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }


    &__button {
        text-align: center;
        
    }

    @include respond(tab-port) {
        height: auto;
        min-height: 30rem;
        background-color: $background-color-white;
        box-shadow: 0 1.5rem 4rem rgba(black, .2);
        margin: auto; 
        margin-bottom: 4rem;
        width: 100%;

         &__side {
            height: auto;
            min-height:30rem;
            position: relative;
            box-shadow: none;

            &--back {
            transform: rotateY(0);
            }
         }

         &:hover &__side--front {
            transform: rotateY(0)
         }


    }

}