.composition {
    position: relative; 
    font-size: 1.8rem;
    font-weight: 500;
    &__div-1{
        color: transparent;
        transition: all .1s;
        &:hover {
            color: $color-txt-1;
            text-shadow:.1rem 0.1rem rgba(black, .1);
            
        }
    }

    &__div-2{
        color: transparent;
        transition: all .1s;
        &:hover {
            color: $color-txt-1;
            text-shadow:.1rem 0.1rem rgba(black, .1);
            
        }
    }

    &__div-3 {
        color: transparent;
        transition: all .1s;
        &:hover {
            color: $color-txt-1;
            text-shadow:.1rem 0.1rem rgba(black, .1);
            
        }
    }
    
    &__photo {
        width: 25%;
        position: absolute;
        z-index: 5;
        outline-offset: 2rem;
        transition: all .2s;

        &--p1 {
            left: 0;
            top: 0rem;
            z-index: 6;
            @include respond(tab-port) {
                width: 12% !important;
                left: 5% !important;
            }
            &:hover {
                transform: scale(1.2);
            }
        }

        &--p2 {
            left: 35%;
            top: 0rem;   
            @include respond(tab-port) {
                width: 12% !important;
                left: 40% !important;
            } 
            &:hover {
                transform: scale(1.2);
            }
        }

        &--p3 {
            left: 70%;
            top: 0rem;
            @include respond(tab-port) {
                width: 12% !important;
                left: 75% !important;
            }
            &:hover {
                transform: scale(1.2);
            }
        }

        &--s1 {
            left: 0%;
            top: 15rem;
            text-align: center;
            @include respond(tab-port) {
                top: -3rem !important;
                font-size: 60% !important;
                font-weight: 50% !important;
                color: $color-txt-1;
                text-shadow:.1rem 0.1rem rgba(black, .1);

            }
        }
       
        &--s2 {
            left: 32%;
            top: 15rem;
            text-align: center;
            @include respond(tab-port) {
                left: 32% !important;
                top: -3rem !important;
                font-size: 60% !important;
                color: $color-txt-1;
                text-shadow:.1rem 0.1rem rgba(black, .1);
            }
        }

        &--s3 {
            left: 70%;
            top: 15rem;
            text-align: center;
            @include respond(tab-port) {
                left: 68% !important;
                top: -3rem !important;      
                font-size: 60% !important;
                color: $color-txt-1;
                text-shadow:.1rem 0.1rem rgba(black, .1);
            }
        }
    }
}