.skill {
    background-color: rgba($background-color-white,0.99);
    font-size: 1.6rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 2rem 4rem rgba(black, .5);
    transition: transform .3s;
    min-width: 20rem;
    max-width: 60%;
    margin: auto;
    margin-bottom: 3rem;
    @include respond(tab-port) {
        width: 50%;
    }
    @include respond(tab-phone) {
        width: 50%;
    }
    &__title {
        padding-top:2rem;
        font-size: 2rem;
        font-weight: 500;
        &--span {
            line-height: 0em;
            padding-bottom: 0.5em;
            display: inline-block;
            background-color:rgba($color-grad-2,0.4);

        }        

    }
    
    &__picture {
        background-size: cover;
        background-position: center center;
        height: 12rem;
        background-blend-mode: screen;
        background-image: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);
    }
    &__icon {
        font-size: 4rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        color: $color-txt-1;
        background: linear-gradient(to bottom, $color-grad-1 20%, $color-grad-2 80%);   
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
    }

    &__list {
        padding: 1rem 3rem;
        color: $color-txt-1;
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;
        }

        li {
            text-align: center;
            font-size: 1.6rem;
            padding: 0.5rem;
            padding-bottom:0.5rem;
            &:not(:last-child) {
                border-bottom: 0.2rem solid rgba($color-grad-2,0.2);                
                @include respond(tab-port) {
                    border-bottom: 0.2rem solid rgba($color-grad-2,0.2);
                }
            }
        }       
        
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
}

