.heading-primary {
    text-transform: uppercase;
    text-shadow:.2rem 0.2rem rgba(black, .1);
    &--title {
        display:block;
        font-size: 6rem;
        font-family: inherit;
        letter-spacing: 0.2rem;
    }

    &--desc {
        display:block;
        font-size: 2rem;
        letter-spacing: 1.5rem;
        white-space: nowrap;
    }
}

.heading-secondary {
    padding-top: 4rem;
    padding-bottom: 4rem;
    line-height: 6rem;
    transition: all .2s;
    text-shadow:.2rem 0.2rem rgba(black, .1);

    &:hover,&:active {
        transform: scale(1.2);
    }

    &--even {
        color: $color-txt-1;   
        display: inline-block;   
        font-size: 4rem; 
        text-transform: uppercase;
        border-bottom: .3rem solid;  
        box-shadow: 0 .2rem rgba(black, .1);

    }
    &--odd {
        color: $color-txt-2;   
        display: inline-block;
        font-size: 4rem; 
        text-transform: uppercase;
        border-bottom: .3rem solid;
        box-shadow: 0 .2rem rgba(black, .1);
        

    }
}

.heading-tertiary {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: all .2s;
}

.paragraph {
    font-size: 2rem;
    line-height: 3rem;
    padding-bottom: 2rem;
   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: $font-weight-primary;
    text-transform: uppercase;
}

li {
    margin-bottom: 10px;
}
/*
.underline {
    display: inline-block;
    line-height: 4rem;
    text-decoration: none;
    color: invert($color: #000000)
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.underline:hover::after {
    width: 100%;
    //transition: width .3s;
}*/