.u-center-text {
    text-align: center;
}

.u-justify-text {
    text-align: justify;
}

.u-list-no-style {
    list-style: none;

}

.u-section-padding {
    padding: 4rem 4rem 10rem 4rem;
}

.u-center {
    margin: auto;
    width: 80%;
    padding: 10px;
}

