
.section-about {
    background-image: -webkit-linear-gradient(to left,rgba($color-grad-1, 0.59), rgba($color-grad-2, 0.52)),url($image-2);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to left,rgba($color-grad-1, 0.59), rgba($color-grad-2, 0.52)),url($image-2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: top;
    box-sizing: border-box;  
}

.about {
    line-height: 3rem;
    text-align: center;

    &__photo {
        width: 70%;
        height: 70%;
    }

    &__left {
        min-width:20rem;
        max-width: 60rem;
        background: rgba($color-grad-2,0.8);
        padding-left: 2rem;
        padding-bottom: 2rem;
        animation: animation-delay 2s slideInLeft 0.2s;
        
        &--card {
            background: $color-txt-2;
            padding:2rem;
        }
    }
}

.section-subheader {
    background: $background-color-white;
    font-size: 1.6rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
   
}

.subheader {
   
    &__block {
        padding: 2.5rem;
        transition: transform .3s;
       
        &--icon {
            display: block;
            font-size: 500%;
            padding: 1rem;
            background: linear-gradient(to bottom, $color-grad-1 20%, $color-grad-2 80%);   
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;     
        }

        &--caption {
            display: block;
            font-weight: 600;
            font-size: 100%;
            margin-bottom: 1rem;          
        }

        &:hover {
            transform: translateY(-1.5rem) scale(1.03);
        }
    }
}



.section-skills {
    background-image: -webkit-linear-gradient(to left,rgba($color-grad-1, 0.59), rgba($color-grad-2, 0.59)),url($image-3);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to left,rgba($color-grad-1, 0.59), rgba($color-grad-2, 0.59)),url($image-3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: top;
    
}

.section-resume {
    background-color: $background-color-white;
}

.resume {
    font-size: 1.6rem;
    line-height: 2rem;
    color: $color-txt-1;
    &__download {
        text-decoration: none;
    }
    &__items {
        &:not(:last-child) {
            border-bottom: 0.2rem solid rgba($color-grad-2,0.2);;
            margin-bottom: 4rem;
            padding-bottom: 2rem;
        }
        &--institution,&--role {
            font-weight: 400;
        }
        &--institution,&--role,&--location,&--company {
            text-align: center;
        }
        &--year{
            text-transform: uppercase;
            text-align:center;
        }
        &--duration,&--degree{
            text-align:center;
        }
       
    }
}

.section-portfolio {
    background-color: $background-color-white;
}

.portfolio {
    font-size: 2rem;
    line-height:2rem;
    margin:auto;
    &__card {
        background-color: rgba($color-grad-2, 0.1) !important;
        color: $color-txt-1;
        padding: 2rem;
    }
    
    &__pic {
        height: 80%;
        width: 100%;
    }
   
    &__tech {
        font-size: 1.5rem;
    }
   
}
