
.section-about {
    background: $background-color-white;
}

.about {
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: center;
    &__block {
        padding: 2.5rem !important;
        display: inline-block;
        transition: transform .3s;
        width: 25rem !important;
        max-height: 30rem;
        
        @include respond(tab-port) {
            padding: 2rem;
            width: 40rem !important;
        }
        &--icon {
            display: block;
            font-size: 300%;
            background: linear-gradient(to bottom, $color-grad-1 20%, $color-grad-2 80%);   
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;   
           
        }
        &--caption {
            display: block;
            font-weight: 600;           
        }
        &:hover {
            transform: translateY(-1.5rem) scale(1.03);
        }
    }

}

.section-skills {
    background-image: linear-gradient(to left,
    rgba($color-grad-1, 0.8),
    rgba($color-grad-2, 0.9)),
    url($image-2);
    background-size: cover;
    background-position: top;

}

.section-resume {
    background-color: rgba($background-color-white, 1) !important;

}

.resume {
    font-size: 1.6rem;
    line-height: 2rem;
    color: $color-txt-1;
    &__download {
        text-decoration: none;
    }
    &__items {
        width: 100%;
        &--institution,&--role {
            font-weight: 400;
        }
        &--institution,&--role,&--location,&--company {
            text-align: center;
        }
        &--year{
            text-transform: uppercase;
            text-align:center;
        }
        &--duration,&--degree{
            text-align:center;
        }
        &--description {
            width: 100%;
        }
    }
}

.section-portfolio {
    width: 100%;
    background-color: rgba($background-color-white, 1) !important;
}

.portfolio {
    width: 100%;
    font-size: 2rem;
    line-height:2rem;
    &__div {
        //background-color: rgba($color-txt-2, .9) !important;
        color: $color-txt-1;
        padding: 2rem;
        border-radius: .5rem;    
    }
    
    &__pic {
        height: 80%;
        width: 100%;
        border-radius:0.5rem;
    }
   
    &__tech {
        font-size: 1.5rem;
    }
   
}

